.instruction-xblock .pgn__card-header {
  padding: 0 !important;
  padding-bottom: 16px !important;
}

.loader {
  border: 2px solid #f3f3f3; /* Light grey background */
  border-top: 2px solid #104e7f; /* Blue spinner color */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }